<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Curso de Git e GitLab</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link href="./static/css/materialize.min.css" rel="stylesheet"/>
    <link href="./static/css/styles.css" rel="stylesheet">
    <link rel="shortcut icon" href="./static/images/favicon.ico" />
</head>

<body>
{% include 'header.html' %}

    {% block content %}
    {% endblock %}


{% include 'info.html'  %}

{% include 'footer.html' %}

</body>

</html>
