<header>
    <!-- menu site -->
    <div class="navbar-fixed">
        <nav class="transparent z-depth-0">
            <div class="nav-wrapper container">
                <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down ">
                    <li><a href="#">Inicío</a></li>
                    <li><a href="#participantes">Participantes</a></li>
                    <li><a href="#sobre">Sobre</a></li>
                    <li><a href="#contato">Contato</a></li>
                </ul>

                <!-- menu mobile -->
                <ul id="mobile-demo" class="sidenav">
                    <li><a href="#">Inicío</a></li>
                    <li><a href="#participantes">Participantes</a></li>
                    <li><a href="#sobre">Sobre</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- Image -->
    <div class="container-header valign-wrapper">
        <div class="row">
            <h1 class="center-align h1-header">Minicurso de Git e GitLab</h1>
            <p class="center-align sub-text">
                A importância do versionamendo de código
            </p>
        </div>
    </div>
</header>
